<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css"> 
    <title>Biz turaly</title>
</head>
<body>
    <%- include('./blocks/header') %>
    <h1>Biz turaly</h1>
    <p>
        2013 жылы Отбасы хрестоматиясы сериясымен шыққан алғашқы кітап “Әлдиден эпосқа дейін” жарық көрді. 2014-16 жылдары осы жұмыстың жалғасы ретінде “Салт-дәстүр сөйлейді”, “Сияр-Шәріп” кітаптары жарияланды. Бұл еңбектер оқырманның көңілінен шығып, әрқайсысы 5-6 реттен қайта басылды. 2017 жылы «Отбасы хрестоматиясы» жобасы қоғамдық қор ретінде құрылды. Кейіннен осы сериямен “Логотерапия немесе өмірге ғашық болу”, “Яссауи феномені”, “Өмірге ғашық болу”, “Махаббаттың мәні”, “Өркениетті адам”, “Әділ патша”, “Мың сұрақ”, “Экософия немесе киелі табиғат” сынды кітаптарды жарыққа шығарды.    
    </p>
    
    <p>
      <b>Email:</b><%= data.email %><br>
      <b>Password:</b><%= data.pass %><br>
      <b>Checkbox:</b><%= data.check %><br>
    </p>
    
    
</body>
</html>